/* * {
    outline: 1px solid red; 
} */
.cormorant{
    font-family: "Cormorant", serif;
}
  
.raleway {
      font-family: "Raleway", sans-serif;
}


img{
    max-width: 100%;
}

.font-64{
    font-size: 64px;
}

.font-34{
    font-size: 34px;
}
.font-42{
    font-size: 42px;
}
.font-family{
    font-family: 'Courier New', Courier, monospace;
}
.font-20{
    font-size: 20px;
}
.font-22{
    font-size: 22px;
}
.cols-padding {
    padding: 100px 0px;
}

.mini-padding{
    padding: 50px 0px;
}

.heading-color{
    color :#0F0F0F;
}

.text-color{
    color: #848484 ;
}

.bg-color1{
    background-color: #EBFFFF;
}


 /* header  */

 header{
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
}
.nav-bar{
    width: 100%;
    position: sticky !important;
    z-index: 99;
    top: 0;
  }

/* main banner  */


.main-banner{
    padding: 120px 0px 60px 0px;
    background-color: #0F0F0F;
}

.banner-second-image{
    margin-top: -200px ;
}


.bg-footer{
    background-color: #0F0F0F;
}

.bg-img-header1{
    background-color: #0F0F0F;
}


@media (max-width: 768px) {
    .bg-img-header {
        background-color: #0F0F0F;
    }
}
@media (max-width: 1024px){
    .bg-img-header {
        background-color: #0F0F0F;
    }
}